body {
  background: url('../assets/img/background.jpg') no-repeat fixed center;
  font-family: 'VT323';
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 5px 10px 10px 5px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

span {
  font-size: 22px;
}

p {
  font-size: 25px;
  margin: 10px 10px 10px 10px;
}

li {
  font-size: 22px;
  margin-bottom: 10px;
}

.squareboi-container {
  display: flex;
}

#squareboi-game {
  width: 896px;
  height: 504px;
  display: block;
  margin-left: 60px;
  margin-right: 50px;
  border: 1px solid black;
  background: url('../assets/img/game_bg.png') no-repeat fixed center;
}

.instructions {
  width: 25%;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
}

.instructions ul {
  padding-right: 40px;
}

.controls {
  list-style: none;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.personal-info {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.personal-info a {
  margin-right: 80px;
}

.github:hover {
  content: url('../assets/img/icons/gh-white.png');
}

.linkedin:hover {
  content: url('../assets/img/icons/linkedin-white.png');
}

.personal:hover {
  content: url('../assets/img/icons/personal-white.png');
}

#mute-audio {
  position: absolute;
  width: 50px;
  height: 50px;
}

#game-over-modal {
  display: none;
  width: 500px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  text-align: center;
  font-size: 35px;
  margin-left: 555px;
  margin-top: 110px;
}

#game-over-modal h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

#game-over-modal a {
  text-decoration: none;
}

.high-scores-container {
  background-color: rgba(255, 255, 255, 0.3);
  width: 200px;
  font-size: 24px;
  margin-left: 90px;
  border: 1px solid black;
  text-align: center;
}

.high-scores-container h2 {
  margin: auto;
  margin-top: 25px;
}

.high-scores-container table {
  margin: auto;
  margin-right: 20px;
}
