#squareboi-game {
  width: 896px;
  height: 504px;
  display: block;
  margin: auto;
  border: 1px solid black;
  background: url('../assets/img/game_background.png') no-repeat fixed center;
}

body {
  background: url('../assets/img/background.jpg') no-repeat fixed center;
  font-family: 'VT323';
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 5px 10px 10px 5px;
}

span {
  font-size: 22px;
}

p {
  font-size: 28px;
  margin: 10px 10px 10px 5px;
}
